<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']">MercadoLibre</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar" [(ngModel)]='name'
      [ngModelOptions]="{standalone: true}">
    <button class="btn btn-outline-light my-2 my-sm-0" type="button" [routerLink]="['products/search']"
      [queryParams]="{productName: name}">Buscar</button>
  </form>
</nav>
<router-outlet></router-outlet>
